.break-items {
	display: flex;
	justify-content: space-evenly;
	background-color: #ddd;
	border-radius: 10px;
}
  .single-break-item p {
	background-color: #fff;
	padding: 6px;
	border-radius: 50%;
	cursor: pointer;
}
.single-break-item p:hover{
	background-color: #5757f7;
	color: #fff;
}