
  .exercise-time, .break-time {
    background-color: #ddd;
    padding: 1px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .exercise-time h4 span, .break-time h4 span {
    margin-left: 20px;
  }
.btn-2 {
    background-color: #5757f7;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
  }
  .btn-2:hover{
    background-color:  #2121e6;
  }